doctype 5
html
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    link(rel="stylesheet", href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css")
    link(rel="stylesheet", href="/css/index.css")

    block head
  body
    block body
